<% if user_signed_in? %>
<% else %>
<div class="hero-unit">
	<h1>Through Polarized Lenses</h1>
	<p>
		Sign in. Share cool pictures. Repeat.   
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
<% end %>