<h1>About</h1>
<p>
	<%= link_to "Through Polarized Lenses" %>
	started as a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. This is the sample applicaiton, but has the potential to be so much more.
</p>
<p>
	Let's see, when do you need polarized lenses? When you're outside, doing fun shit, under the sun. Mountain biking, rock climbing, skiing, hiking, backpacking, rafting, brunch with friends on a spring day, generally enjoying life. This 'blog' is about all of those things, wrapped in a pretty package, for you to enjoy.
</p>



